body { 
    font-family: sans-serif; padding: 2rem; 
}

input { 
    margin-left: .5rem; 
}

#tokenResult{ 
    margin: 1rem 0;padding: 1rem; border: 1px solid #ccc; white-space: pre-wrap;
}

#tokenText { 
    overflow-wrap: break-word;
}

#weatherResult { 
    margin-top: 1rem; padding: 1rem; border: 1px solid #ccc; white-space: pre-wrap; height: 40vh; overflow: scroll ;
}

